* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
 
}

/****************Polices*****************/

@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
@import url('https://fonts.cdnfonts.com/css/droid-serif-2');


/***************Couleurs******************/

:root {
    --blanc: #FFFFFF;
    --Bleu: #55C0CF;
    --Marron: #2C1E1E;
    --Noir: #1F1615;
    --Orange: #B65F28;
    --Jaune: #FFD543;

}

/****************Classes******************/


/* Footer */

footer {
    background-color: var(--Noir);
    color: var(--Jaune);
}

.margeColFooter {
    
    margin:2em ;
}

.textFooter {
    font-size: 0.6em;
    font-family: droid serif;
    padding-top: 2em;
}

h5 {
    font-family: Fjalla One;
}
.fa-brands {
    display: flex;
}

.footerRS {
    width: 3em;  
    margin-right: 2em;  
}
.RSociaux {
    display: flex;
    justify-content: space-around;
    margin-bottom: 2em;

}
.col-sm-12.RSociaux {
    display: flex;
    justify-content: left;
    margin-left: 2em;    
}








