.carousel {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

}

/****************Polices*****************/

@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
@import url('https://fonts.cdnfonts.com/css/droid-serif-2');


/***************Couleurs******************/

:root {
    --blanc: #FFFFFF;
    --Bleu: #55C0CF;
    --Marron: #2C1E1E;
    --Noir: #1F1615;
    --Orange: #B65F28;
    --Jaune: #FFD543;

}

.slide {
    box-shadow: 0px 0px 7px #666;
    width: 100%;
    height: 100%;
}

.slide-hidden {
    display: none;
}

.indicators {
    display: flex;
    position: absolute;
    bottom: 1rem;
}

.indicator {
    background-color: var(--Bleu);
    height: 0.8rem;
    width: 0.8rem;
    border-radius: 100%;
    border: none;
    outline: none;
    box-shadow: 0px 0px 5px #555;
    margin: 0 1rem;
    cursor: pointer;

}
 .indicator-inactive {
    background-color: var(--blanc);

 }

 .slogan {
    display: flex;
    position:absolute;
    color: var(--blanc);
    font-family: Fjalla one, serif, Arial, Helvetica, sans-serif;      
    font-size: 10rem;
    top: 4rem;
    font-weight: bolder;
 }
 .sloganM {
    display: flex;
    position:absolute;
    color: var(--blanc);
    font-family: Fjalla one, serif, Arial, Helvetica, sans-serif;      
    font-weight: bolder;
    font-size: 3rem;
    top:2rem;

 }

 .buttonPosition {
    position: absolute;        
    border: 3px solid #B65F28;
    top: 30rem;
    
}
.buttonPositionM {
  position: absolute;        
  border: 3px solid #B65F28;
  top: 7rem;
}

.indexShopButton {
    margin-bottom: 0em;
    font-size: 1rem;
    padding: 2rem;
    color: var(--Noir);
    background-color: var(--Jaune);
    box-shadow: 3px 3px 3px 3px rgb(5, 5, 5);
    border-color: var(--Jaune);    
}
.indexShopButtonM {
    margin-bottom: 0em;
    font-size: 1rem;
    padding: 0 2rem;
    color: var(--Noir);
    background-color: var(--Jaune);
    box-shadow: 3px 3px 3px 3px rgb(5, 5, 5);
    border-color: var(--Jaune);    
}
